html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
body{
    font-size: 14px;
}
a{
    text-decoration:none;
}
a.btn{
    color:#fff;
    margin: 10px;
    padding: 10px;
    cursor: pointer;
}
/** reset end **/

.clearfix:after{
    content:'';
    display: block;
    clear: both;
}

.nav{
    background: #000;
    border-bottom: solid #f4b91c 6px;
    padding-top: 20px;
}
.nav__layout{
    width: 1200px;
    margin: 0 auto;
}
.nav__logo{
    float: left;
    margin-right: 100px;
}
.nav__logo:before{
    content:'';
    display: block;
    background: url('../img/art show-logo.png');
    width: 94px;
    height: 76px;
    margin: 0 auto;
}
.nav__logo:after{
    display: block;
    color:#fff;
    font-size: 20px;
    content:'国际艺术&古董展';
    margin: 10px 0;
}
.nav__main{

}
.nav__share{
    text-align: right;
    height: 70px;
}
.nav__inner{
    position: relative;
}
.nav__item{
    float: left;
    font-size:20px;
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
}
.nav__item a{
    color:#fff;
}

.nav__item.on{
    background:#f4b91c;
}
.nav__item.on a{
    color:#000;
}