.banner{
    position: relative;
}
.banner__item{
    position:absolute;
    overflow: hidden;
    background: #ccc;
}
.banner__item img{
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left: 0;
}
.banner__item img.active{
    z-index: 2;
}
.banner__item img.animated{
    z-index: 3;
    -webkit-animation-duration:2s;animation-duration:2s;
}
.banner__content{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
    color:#fff;
    line-height: 1.4;
    text-align: center;
    padding-top: 1.5em;
    opacity: 0.8;
    z-index: 10;
}
.banner__bg{
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left: 0;
}
.banner__content h1{
    font-size: 1em;
}
.banner__content h2{
    font-size: 0.8em;
}
.banner__content h3{
    font-size: 0.5em;
}